html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(button, a, input, textarea) {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --transition: 0.3s;
  --b-rad-9: 9px;
}

.hidden {
  display: none !important;
}

.show-modal-smoothly {
  opacity: 1 !important;
}

@media (min-width: 769px) {
  .show-modal-smoothly {
    transform: translate(-50%, 50%) !important;
  }
}

.lock-scroll {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-space-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-color-dessert {
  border-color: var(--red) !important;
}

.red-btn {
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--red);
  color: white;
  font-size: 1.5rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: var(--transition) background-color;
}

@media (min-width: 769px) {
  .red-btn:hover {
    background-color: hsl(14deg 87.03% 37.97%);
  }
}

button {
  font-family: "Red Hat Text", sans-serif;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.6rem;
  background-color: hsl(20deg 29.92% 97%);
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 50;
}

main {
  flex: 1;
  max-width: 123rem;
  margin: 8rem 0;
}

@media (min-width: 965px) {
  main {
    display: flex;
    gap: 3rem;
  }
}

@media (max-width: 480px) {
  main {
    margin: 4rem 2rem;
  }
}

.menu {
  width: 100%;
  max-width: 80rem;
}

.menu h1 {
  color: var(--rose-900);
  margin-bottom: 3rem;
  line-height: 1;
}

.menu .desserts-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  column-gap: 2.5rem;
  row-gap: 1.7rem;
}

@media (max-width: 1149px) {
  .menu .desserts-list {
    grid-template-columns: repeat(2, minmax(20rem, 25rem));
  }
}

@media (max-width: 964px) {
  .menu .desserts-list {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media (max-width: 480px) {
  .menu .desserts-list {
    grid-template-columns: repeat(1, minmax(20rem, 30rem));
    justify-content: center;
    row-gap: 2.5rem;
  }
}

.dessert .dessert-image {
  display: block;
  max-width: 100%;
  border-radius: var(--b-rad-9);
  border: 2px solid transparent;
  transition: var(--transition) border-color;
}

.control-dessert {
  transform: translateY(calc(-50% - 2px));
  width: 16rem;
  height: 4.4rem;
  margin: 0 auto;
}

.control-dessert .add-btn {
  width: 100%;
  height: 100%;
  background-color: var(--rose-50);
  color: var(--rose-900);
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid var(--rose-400);
  border-radius: 50px;
  transition: var(--transition) color, var(--transition) border-color;
  cursor: pointer;
}

.control-dessert .add-btn:active {
  transform: scale(0.98);
}

@media (min-width: 767px) {
  .control-dessert .add-btn:hover {
    border-color: var(--red);
    color: var(--red);
  }
}

.control-dessert .count-btn {
  height: 100%;
  padding: 0 1.3rem;
  background-color: var(--red);
  border-radius: 50px;
}

.control-dessert .count-btn :where(.minus, .plus) {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  color: var(--rose-50);
  border: 1px solid var(--rose-50);
  border-radius: 50%;
  transition: var(--transition) background-color;
  cursor: pointer;
}

.control-dessert .count-btn :where(.minus, .plus):hover {
  background-color: var(--rose-50);
  color: var(--red);
}

.control-dessert .count-btn :where(.minus, .plus):active {
  transform: scale(0.97);
}

.control-dessert .count-btn :where(.minus, .plus) i {
  transition: var(--transition) color;
  line-height: 0;
}

.control-dessert .count-btn .plus i {
  font-weight: 100;
}

.control-dessert .count-btn .quantity {
  color: var(--rose-50);
  user-select: none;
}

.dessert .info {
  margin-top: -0.7rem;
}

@media (max-width: 480px) {
  .dessert .info {
    margin-top: -1rem;
  }
}

.dessert .category {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--rose-500);
}

.dessert .name {
  margin: 0.5rem 0;
  color: var(--rose-900);
  font-weight: 600;
}

@media (max-width: 480px) {
  .dessert .name {
    font-size: 1.5rem;
  }
}

.dessert .price {
  color: var(--red);
  font-weight: 600;
}

@media (max-width: 480px) {
  .dessert .price {
    font-size: 1.5rem;
  }
}

.your-cart {
  width: 100%;
  max-width: 40rem;
  height: fit-content;
  max-height: 70rem;
  overflow-y: auto;
  background-color: white;
  padding: 2.5rem 2.5rem 4rem;
  border-radius: var(--b-rad-9);
}

@media (max-width: 964px) {
  .your-cart {
    margin-top: 2.5rem;
  }
}

@media (min-width: 965px) and (max-width: 1149px) {
  .your-cart {
    max-width: 46rem;
  }
}

@media (max-width: 480px) {
  .your-cart {
    padding: 2rem 2.5rem 3rem;
    max-height: 50rem;
  }
}

.your-cart .total-items {
  color: var(--red);
}

@media (max-width: 480px) {
  .your-cart .total-items {
    font-size: 2rem;
  }
}

.cart-info {
  margin-top: 2.5rem;
}

.dessert-cart {
  padding-bottom: 1.7rem;
  margin-bottom: 2.2rem;
  border-bottom: 1px solid var(--rose-100);
}

.dessert-cart .name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--rose-900);
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .dessert-cart .name {
    margin-bottom: 0.7rem;
  }
}

.dessert-cart .quantity {
  color: var(--red);
  font-weight: 600;
}

.dessert-cart .price {
  display: inline-block;
  margin-left: 1.5rem;
  margin-right: 1rem;
  color: var(--rose-500);
}

.dessert-cart .total-price {
  color: var(--rose-500);
  font-weight: 600;
}

@media (max-width: 480px) {
  .dessert-cart span {
    font-size: 1.4rem;
  }
}

.remove-btn {
  width: 1.9rem;
  height: 1.9rem;
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--rose-300);
  border: 1px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition) border-color, var(--transition) color;
}

.remove-btn:hover {
  border-color: var(--rose-900);
  color: var(--rose-900);
}

.order-total p {
  color: var(--rose-900);
  font-weight: 500;
}

.order-total .total-cost {
  font-size: 3rem;
  font-weight: bold;
  color: var(--rose-900);
}

@media (max-width: 480px) {
  .order-total .total-cost {
    font-size: 2.5rem;
  }
}

.cart-info .delivery-msg {
  gap: 0.7rem;
  margin: 2.5rem 0;
  padding: 1.7rem;
  border-radius: var(--b-rad-9);
  background-color: var(--rose-50);
}

.cart-info .delivery-msg p {
  color: var(--rose-900);
}

@media (max-width: 480px) {
  .cart-info .delivery-msg p {
    font-size: 1.3rem;
  }
}

.cart-info .delivery-msg p span {
  font-weight: 600;
}

.empty-cart {
  text-align: center;
}

.empty-cart-img {
  margin: 4.5rem 0 1rem;
}

.empty-cart-msg {
  color: var(--rose-500);
  font-weight: 600;
  font-size: 1.5rem;
}

.confirmation-modal {
  opacity: 0;
  width: calc(100% - 3rem);
  max-width: 60rem;
  max-height: 70rem;
  overflow-y: auto;
  padding: 3.5rem;
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 54%);
  z-index: 100;
  background-color: white;
  border-radius: var(--b-rad-9);
  transition: 0.5s;
}

@media (max-width: 480px) {
  .confirmation-modal {
    bottom: 0;
    left: 0;
    transform: initial;
    padding: 2.5rem 2rem 3.5rem;
    width: 100%;
    max-height: 62rem;
  }
}

.confirmation-modal > img {
  display: block;
}

.confirmation-modal > h2 {
  font-size: 3.5rem;
  color: var(--rose-900);
  margin: 1rem 0 0.6rem;
}

.confirmation-modal > p {
  color: var(--rose-500);
}

.confirmation-modal .order-info {
  margin: 3rem 0;
  padding: 2.5rem;
  background-color: var(--rose-50);
  border-radius: var(--b-rad-9);
}

@media (max-width: 480px) {
  .confirmation-modal .order-info {
    padding: 2rem;
  }
}

.order-info .dessert-cart img {
  margin-right: 2rem;
  width: 5.5rem;
  border-radius: var(--b-rad-9);
}

@media (max-width: 480px) {
  .order-info .dessert-cart img {
    margin-right: 1.5rem;
  }
}

@media (max-width: 480px) {
  .order-info .dessert-cart .name {
    font-size: 1.4rem;
  }
}

.confirmation-modal .order-info .total-price {
  flex: 1;
  text-align: end;
  color: var(--rose-900);
}

.confirmation-modal button {
  padding: 1.4rem 0;
}
